body {
    margin:0;
    min-width:100vw;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:radial-gradient(circle at top,#fff8e1,#f5efe0);
    background-image:url('3.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    font-family:'Aref ruqaa',serif;
}
.envelope {
    width:360px;
    height:240px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}
.envelope-box {
    width:100%;
    height:100%;
    background:rgba(229, 220, 220, 0.659);
    border-radius:18px;
    box-shadow:0 20px 40px rgba(0,0,0,.25);
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    animation:float 3s ease-in-out infinite;
}
.seal {
    font-size:40px;
    margin-bottom:10px;
    filter:drop-shadow(0 0 5px rgba(0,0,0,.2));
}
.text {
    color:black;
    font-size:20px;
    margin-bottom:20px;
}
.open-btn {
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:white;
    color:#b8860b;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
    box-shadow:0 8px 20px rgba(0,0,0,.2);
}
.open-btn:hover {
    transform:scale(1.08);
    background:#fff3c4;
}
@keyframes float {
    0% { transform:translateY(0px); }
    50% { transform:translateY(-8px); }
    100% { transform:translateY(0px); }
}
.card {
    width:90%;
    max-width:750px;
    background-color:rgba(255, 255, 255, 0.555);   
    padding:35px;
    border-radius:25px;
    box-shadow:0 0 30px rgba(0,0,0,.15);
    text-align:center;
}
.hidden {
    display: none;
}
.show-invitation {
    display: block;
    animation: slideDown 1.2s ease forwards;
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-200px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.welcome {
    font-family :sans-serif;
    font-size:35px;
}
.names {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin-bottom:2px;
}
.groom,.bride {
    font-size:42px;
    font-weight:bold;
    color:#d4af37;
}
.ampersand {
    font-family:'Cormorant Garamond',serif;
    font-size:80px;
    color:#d4af37;
}
/* التفاصيل */
.info {
    font-size: 22px;
    font-family:sans-serif ;
    margin: 18px 0;
}
.info strong {
    color: #b8860b;
}
/* زر اللوكيشن */
.location-btn {
    display:inline-block;
    font-size:18px;
    padding:10px 14px;
    background:#b8860b;
    color:white;
    text-decoration:none;
    border-radius:5px;
}
.location-btn:hover {
    color:black;
}
/* عداد */
#countdown {
    font-size:25px;
    font-weight:bold;
    color:#8b0000;
}
body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-track{
    background-color:#F7E7CE;
    border-radius:10px;
}
body::-webkit-scrollbar-thumb{
    background-color:whitesmoke;
    border-radius:10px;
}
@media(max-width:430px) {
    .envelope {
        width:260px;
        height:200px;
    }
    .envelope-box {
        padding:20px;
    }
    .text {
        font-size:18px;
    }
    .ruqaa{
        font-size:16px;
        margin-top:35px;
    }
    h1 {
        margin-top:10px;
        font-size:20px;
    }
    h3{
        font-size:12px;
    }
    .welcome {
    font-family :sans-serif;
    font-size:16px;
   }
    .ampersand{
        font-size:35px;
    }
    .groom,.bride{
        font-size:20px;
    }
    h2{
        font-size:16px;
    }
    .location-btn {
        font-size:12px;
        padding:8px 12px;
    }
    .info {
        font-size:16px;
    }
    #countdown {
        font-size:14px;
    }
}
@media(min-width:430px) and (max-width:800px) {
    .envelope {
        width:300px;
        height:220px;
    }
    .envelope-box {
        padding:25px;
    }
    .text {
        font-size:19px;
    }
    .ruqaa{
        font-size:25px;
        margin-top:10px;
    }
    h1 {
        margin-top:5px;
        font-size:30px;
    }
    h3{
        font-size:18px;
    }
    .welcome {
    font-family :sans-serif;
    font-size:26px;
    }
    .ampersand{
        font-size:45px;
    }
    .groom,.bride{
        font-size:30px;
    }
    h2{
        font-size:20px;
    }
    .location-btn {
        font-size:18px;
        padding:5px 9px;
    }
    .info {
        font-size:18px;
    }
    #countdown {
        font-size:18px;
    }
}